.ace-msg {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px 8px;

    .ace-msg-body {
        position: relative;
        display: inline-flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.4em;

        & > .ace-icon {
            transform: translateY(0.14em);
        }
    }
    
    /* Default styles */

    background: var(--ace-color-gray-90);
    color: black;
    margin: 4px 0;

    a {
        color: currentColor;
        text-decoration-color: currentColor;
        &:hover, 
        &:focus, 
        &:active {
            color: currentColor;
            text-decoration-color: currentColor;
        }
    }

    &[type=info] {
        background: var(--ace-color-matblue-60);
        color: white;
    }
    &[type=success] {
        background: var(--ace-color-matgreen-50);
        color: white;
    }
    &[type=warning] {
        background: var(--ace-color-matorange-60);
        color: white;
    }
    &[type=critical] {
        background: var(--ace-color-matred-60);
        color: white;
    }

    /* Text variants */

    &[text] {
 
        font-weight: 400;
        background: transparent;
        border: 0;

        &[type=info] {
            color: var(--ace-color-info);
        }
        &[type=success] {
            color: var(--ace-color-success);
        }
        &[type=warning] {
            color: var(--ace-color-warning);
        }
        &[type=critical] {
            color: var(--ace-color-critical);
        }
    }

    /* Size variants */

    &[size=small] {
        font-size: var(--ace-font-size-s);
        padding: 2px 6px;
    }
}