.ace-msg {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 1px 8px;

    .ace-msg-body {
        position: relative;
        display: inline-flex;
        box-sizing: border-box;
        flex-direction: row;
        align-items: flex-start;
        gap: 0.4em;

        & > .ace-icon {
            transform: translateY(0.14em);
        }
    }
    
    /* Default styles */

    border: 1px solid var(--ace-color-gray-70);
    background: var(--ace-color-gray-95);
    color: var(--ace-color-gray-20);
    margin: 4px 0;

    a {
        color: currentColor;
        text-decoration-color: currentColor;
        &:hover, 
        &:focus, 
        &:active {
            color: currentColor;
            text-decoration-color: currentColor;
        }
    }

    &[type=info] {
        border-color: var(--ace-color-matblue-70);
        background: var(--ace-color-matblue-95);
        color: var(--ace-color-matblue-40);
    }
    &[type=success] {
        border-color: var(--ace-color-matgreen-70);
        background: var(--ace-color-matgreen-95);
        color: var(--ace-color-matgreen-30);
    }
    &[type=warning] {
        border-color: var(--ace-color-matorange-70);
        background: var(--ace-color-matorange-95);
        color: var(--ace-color-matorange-40);
    }
    &[type=critical] {
        border-color: var(--ace-color-matred-80);
        background: var(--ace-color-matred-95);
        color: var(--ace-color-matred-40);
    }

    /* Size variants */

    &[size=small] {
        font-size: var(--ace-font-size-s);
        padding: 2px 6px;
    }
}