.ace-progressbar {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 30px;

    background: linear-gradient(var(--ace-color-gray-90), var(--ace-color-gray-98));
    border-radius: 6px;
    overflow: hidden;
    text-align: center;

    .ace-progressbar-body {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        background: linear-gradient(var(--ace-color-matblue-80), var(--ace-color-matblue-60));
        transition: width 0.2s linear;
        height: 100%;
    }
    .ace-progressbar-label {
        display: flex;
        flex-wrap: nowrap;
        flex-shrink: 0;
        align-items: center;
        vertical-align: middle;
        margin-left: 0.5rem;
        color: white;
        gap: 4px;
    }
}