@keyframes ace-spinner-spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.ace-spinner {
	--size: 120px;
	pointer-events: all;
	animation: ace-spinner-spin 2s linear infinite;
    display: block;
	box-sizing: border-box;
    width: var(--size);
	height: var(--size);
	margin: auto;
	border-radius: 50%;
	border: 2px solid var(--ace-color-gray-90);
	border-top-color: var(--ace-color-gray-30);
}