a, .ace-link {
    display: inline;
    word-spacing: normal;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;
    
    padding: 0;
    border: 0;
    
    border-bottom: 1px solid color-mix(in hsl, var(--ace-color-link), white 80%);
    border-radius: 0;
    min-height: initial;
    background: transparent;
    color: var(--ace-color-link);
    text-decoration: none;
    transition: var(--ace-transition);

    &:hover, 
    &:focus {
        color: var(--ace-color-link);
        border-color: var(--ace-color-link);
        box-shadow: none;
        outline: 0;
    }
    &:active,
    &.active {
        color: var(--ace-color-link);
        border-color: var(--ace-color-link);
        background: transparent;
        transition: initial;
    }
    &.disabled,
    &[disabled] {
        color: var(--ace-color-disabled);
        border-color: color-mix(in hsl, var(--ace-color-disabled), white 60%);
        cursor: default;
        pointer-events: none;
    }
}