a, .ace-link {
    display: inline;
    word-spacing: normal;
    font-family: inherit;
    line-height: normal;
    cursor: pointer;

    text-decoration: none;
    text-underline-offset: 2px;
    text-decoration-color: var(--ace-color-link);
    color: var(--ace-color-link);
    transition: var(--ace-transition);
    font-weight: 400;

    padding: 0;
    border: 0;
    border-radius: 0;
    min-height: initial;
    background: transparent;

    &:hover, 
    &:focus {
        color: var(--ace-color-link);
        text-decoration: underline;
        box-shadow: none;
        outline: 0;
    }
    &:active,
    &.active {
        color: var(--ace-color-link);
        text-decoration: underline;
        background: transparent;
        transition: initial;
    }
    &.disabled,
    &[disabled] {
        color: var(--ace-color-disabled);
        cursor: default;
        pointer-events: none;
    }
}