.ace-footer {
    display: block;
    box-sizing: border-box;
    border-top: var(--ace-border);
    font-size: var(--ace-font-size-s);
    text-align: center;
    color: var(--ace-color-gray-40);
    padding: 3rem;
    margin-top: 4rem;
    width: 100%;
}