.ace-codeblock {
    display: block;
    font-size: var(--ace-font-size-s);
    margin: 1.5rem auto;
    
    .ace-codeblock-header {
        font-size: var(--ace-font-size-s);
        background: var(--ace-color-gray-30);
        color: var(--ace-color-gray-80);
        padding: 6px 1rem;
    }
    .ace-codeblock-body {
        border-radius: 0 !important;
        border: 0 !important;
        margin: 0 !important;
        code {
            padding: 0;
        }
    }
}