.ace-table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    
    thead {
        background: $color-gray-95;
    }
    th, td {
        vertical-align: top;
        text-align: left;
        border: $border;
        padding: 0.4rem 0.6rem;
    }
    th {
        font-weight: $font-weight-bold;
        color: $color-gray-50;
    }

    &[striped] tr {
        &:nth-child(even) {
            background-color: $color-gray-98;
        }
    } 
}