:root {
    --ace-color-gray-1: hsl(0, 0%, 1%);
    --ace-color-gray-2: hsl(0, 0%, 2%);
    --ace-color-gray-3: hsl(0, 0%, 3%);
    --ace-color-gray-4: hsl(0, 0%, 4%);
    --ace-color-gray-5: hsl(0, 0%, 5%);
    --ace-color-gray-10: hsl(0, 0%, 10%);
    --ace-color-gray-15: hsl(0, 0%, 15%);
    --ace-color-gray-20: hsl(0, 0%, 20%);
    --ace-color-gray-25: hsl(0, 0%, 25%);
    --ace-color-gray-30: hsl(0, 0%, 30%);
    --ace-color-gray-35: hsl(0, 0%, 35%);
    --ace-color-gray-40: hsl(0, 0%, 40%);
    --ace-color-gray-45: hsl(0, 0%, 45%);
    --ace-color-gray-50: hsl(0, 0%, 50%);
    --ace-color-gray-55: hsl(0, 0%, 55%);
    --ace-color-gray-60: hsl(0, 0%, 60%);
    --ace-color-gray-65: hsl(0, 0%, 65%);
    --ace-color-gray-70: hsl(0, 0%, 70%);
    --ace-color-gray-75: hsl(0, 0%, 75%);
    --ace-color-gray-80: hsl(0, 0%, 80%);
    --ace-color-gray-85: hsl(0, 0%, 85%);
    --ace-color-gray-90: hsl(0, 0%, 90%);
    --ace-color-gray-95: hsl(0, 0%, 95%);
    --ace-color-gray-96: hsl(0, 0%, 96%);
    --ace-color-gray-97: hsl(0, 0%, 97%);
    --ace-color-gray-98: hsl(0, 0%, 98%);
    --ace-color-gray-99: hsl(0, 0%, 99%);

    --ace-color-blue-10: hsl(204, 100%, 10%);
    --ace-color-blue-15: hsl(204, 100%, 15%);
    --ace-color-blue-20: hsl(204, 100%, 20%);
    --ace-color-blue-25: hsl(204, 100%, 25%);
    --ace-color-blue-30: hsl(204, 100%, 30%);
    --ace-color-blue-35: hsl(204, 100%, 35%);
    --ace-color-blue-40: hsl(204, 100%, 40%);
    --ace-color-blue-45: hsl(204, 100%, 45%);
    --ace-color-blue-50: hsl(204, 100%, 50%);
    --ace-color-blue-55: hsl(204, 100%, 55%);
    --ace-color-blue-60: hsl(204, 100%, 60%);
    --ace-color-blue-65: hsl(204, 100%, 65%);
    --ace-color-blue-70: hsl(204, 100%, 70%);
    --ace-color-blue-75: hsl(204, 100%, 75%);
    --ace-color-blue-80: hsl(204, 100%, 80%);
    --ace-color-blue-85: hsl(204, 100%, 85%);
    --ace-color-blue-90: hsl(204, 100%, 90%);
    --ace-color-blue-95: hsl(204, 100%, 95%);

    --ace-color-cyan-5: hsl(180, 80%, 5%);
    --ace-color-cyan-10: hsl(180, 80%, 10%);
    --ace-color-cyan-15: hsl(180, 80%, 15%);
    --ace-color-cyan-20: hsl(180, 80%, 20%);
    --ace-color-cyan-25: hsl(180, 80%, 25%);
    --ace-color-cyan-30: hsl(180, 80%, 30%);
    --ace-color-cyan-35: hsl(180, 80%, 35%);
    --ace-color-cyan-40: hsl(180, 80%, 40%);
    --ace-color-cyan-45: hsl(180, 80%, 45%);
    --ace-color-cyan-50: hsl(180, 80%, 50%);
    --ace-color-cyan-55: hsl(180, 80%, 55%);
    --ace-color-cyan-60: hsl(180, 80%, 60%);
    --ace-color-cyan-65: hsl(180, 80%, 65%);
    --ace-color-cyan-70: hsl(180, 80%, 70%);
    --ace-color-cyan-75: hsl(180, 80%, 75%);
    --ace-color-cyan-80: hsl(180, 80%, 80%);
    --ace-color-cyan-85: hsl(180, 80%, 85%);
    --ace-color-cyan-90: hsl(180, 80%, 90%);
    --ace-color-cyan-95: hsl(180, 80%, 95%);
    --ace-color-cyan-96: hsl(180, 80%, 96%);
    --ace-color-cyan-97: hsl(180, 80%, 97%);
    --ace-color-cyan-98: hsl(180, 80%, 98%);
    --ace-color-cyan-99: hsl(180, 80%, 99%);

    --ace-color-matblue-5: hsl(210, 50%, 5%);
    --ace-color-matblue-10: hsl(210, 50%, 10%);
    --ace-color-matblue-15: hsl(210, 50%, 15%);
    --ace-color-matblue-20: hsl(210, 50%, 20%);
    --ace-color-matblue-25: hsl(210, 50%, 25%);
    --ace-color-matblue-30: hsl(210, 50%, 30%);
    --ace-color-matblue-35: hsl(210, 50%, 35%);
    --ace-color-matblue-40: hsl(210, 50%, 40%);
    --ace-color-matblue-45: hsl(210, 50%, 45%);
    --ace-color-matblue-50: hsl(210, 50%, 50%);
    --ace-color-matblue-55: hsl(210, 50%, 55%);
    --ace-color-matblue-60: hsl(210, 50%, 60%);
    --ace-color-matblue-65: hsl(210, 50%, 65%);
    --ace-color-matblue-70: hsl(210, 50%, 70%);
    --ace-color-matblue-75: hsl(210, 50%, 75%);
    --ace-color-matblue-80: hsl(210, 50%, 80%);
    --ace-color-matblue-85: hsl(210, 50%, 85%);
    --ace-color-matblue-90: hsl(210, 50%, 90%);
    --ace-color-matblue-95: hsl(210, 50%, 95%);

    --ace-color-green-5: hsl(120, 70%, 5%);
    --ace-color-green-10: hsl(120, 70%, 10%);
    --ace-color-green-15: hsl(120, 70%, 15%);
    --ace-color-green-20: hsl(120, 70%, 20%);
    --ace-color-green-25: hsl(120, 70%, 25%);
    --ace-color-green-30: hsl(120, 70%, 30%);
    --ace-color-green-35: hsl(120, 70%, 35%);
    --ace-color-green-40: hsl(120, 70%, 40%);
    --ace-color-green-45: hsl(120, 70%, 45%);
    --ace-color-green-50: hsl(120, 70%, 50%);
    --ace-color-green-55: hsl(120, 70%, 55%);
    --ace-color-green-60: hsl(120, 70%, 60%);
    --ace-color-green-65: hsl(120, 70%, 65%);
    --ace-color-green-70: hsl(120, 70%, 70%);
    --ace-color-green-75: hsl(120, 70%, 75%);
    --ace-color-green-80: hsl(120, 70%, 80%);
    --ace-color-green-85: hsl(120, 70%, 85%);
    --ace-color-green-90: hsl(120, 70%, 90%);
    --ace-color-green-95: hsl(120, 70%, 95%);

    --ace-color-matgreen-5: hsl(120, 35%, 5%);
    --ace-color-matgreen-10: hsl(120, 35%, 10%);
    --ace-color-matgreen-15: hsl(120, 35%, 15%);
    --ace-color-matgreen-20: hsl(120, 35%, 20%);
    --ace-color-matgreen-25: hsl(120, 35%, 25%);
    --ace-color-matgreen-30: hsl(120, 35%, 30%);
    --ace-color-matgreen-35: hsl(120, 35%, 35%);
    --ace-color-matgreen-40: hsl(120, 35%, 40%);
    --ace-color-matgreen-45: hsl(120, 35%, 45%);
    --ace-color-matgreen-50: hsl(120, 35%, 50%);
    --ace-color-matgreen-55: hsl(120, 35%, 55%);
    --ace-color-matgreen-60: hsl(120, 35%, 60%);
    --ace-color-matgreen-65: hsl(120, 35%, 65%);
    --ace-color-matgreen-70: hsl(120, 35%, 70%);
    --ace-color-matgreen-75: hsl(120, 35%, 75%);
    --ace-color-matgreen-80: hsl(120, 35%, 80%);
    --ace-color-matgreen-85: hsl(120, 35%, 85%);
    --ace-color-matgreen-90: hsl(120, 35%, 90%);
    --ace-color-matgreen-95: hsl(120, 35%, 95%);
    --ace-color-matgreen-96: hsl(120, 35%, 96%);
    --ace-color-matgreen-97: hsl(120, 35%, 97%);
    --ace-color-matgreen-98: hsl(120, 35%, 98%);
    --ace-color-matgreen-99: hsl(120, 35%, 99%);

    --ace-color-orange-5: hsl(39, 100%, 5%);
    --ace-color-orange-10: hsl(39, 100%, 10%);
    --ace-color-orange-15: hsl(39, 100%, 15%);
    --ace-color-orange-20: hsl(39, 100%, 20%);
    --ace-color-orange-25: hsl(39, 100%, 25%);
    --ace-color-orange-30: hsl(39, 100%, 30%);
    --ace-color-orange-35: hsl(39, 100%, 35%);
    --ace-color-orange-40: hsl(39, 100%, 40%);
    --ace-color-orange-45: hsl(39, 100%, 45%);
    --ace-color-orange-50: hsl(39, 100%, 50%);
    --ace-color-orange-55: hsl(39, 100%, 55%);
    --ace-color-orange-60: hsl(39, 100%, 60%);
    --ace-color-orange-65: hsl(39, 100%, 65%);
    --ace-color-orange-70: hsl(39, 100%, 70%);
    --ace-color-orange-75: hsl(39, 100%, 75%);
    --ace-color-orange-80: hsl(39, 100%, 80%);
    --ace-color-orange-85: hsl(39, 100%, 85%);
    --ace-color-orange-90: hsl(39, 100%, 90%);
    --ace-color-orange-95: hsl(39, 100%, 95%);

    --ace-color-matorange-5: hsl(25, 70%, 5%);
    --ace-color-matorange-10: hsl(25, 70%, 10%);
    --ace-color-matorange-15: hsl(25, 70%, 15%);
    --ace-color-matorange-20: hsl(25, 70%, 20%);
    --ace-color-matorange-25: hsl(25, 70%, 25%);
    --ace-color-matorange-30: hsl(25, 70%, 30%);
    --ace-color-matorange-35: hsl(25, 70%, 35%);
    --ace-color-matorange-40: hsl(25, 70%, 40%);
    --ace-color-matorange-45: hsl(25, 70%, 45%);
    --ace-color-matorange-50: hsl(25, 70%, 50%);
    --ace-color-matorange-55: hsl(25, 70%, 55%);
    --ace-color-matorange-60: hsl(25, 70%, 60%);
    --ace-color-matorange-65: hsl(25, 70%, 65%);
    --ace-color-matorange-70: hsl(25, 70%, 70%);
    --ace-color-matorange-75: hsl(25, 70%, 75%);
    --ace-color-matorange-80: hsl(25, 70%, 80%);
    --ace-color-matorange-85: hsl(25, 70%, 85%);
    --ace-color-matorange-90: hsl(25, 70%, 90%);
    --ace-color-matorange-95: hsl(25, 70%, 95%);

    --ace-color-red-5: hsl(0, 100%, 5%);
    --ace-color-red-10: hsl(0, 100%, 10%);
    --ace-color-red-15: hsl(0, 100%, 15%);
    --ace-color-red-20: hsl(0, 100%, 20%);
    --ace-color-red-25: hsl(0, 100%, 25%);
    --ace-color-red-30: hsl(0, 100%, 30%);
    --ace-color-red-35: hsl(0, 100%, 35%);
    --ace-color-red-40: hsl(0, 100%, 40%);
    --ace-color-red-45: hsl(0, 100%, 45%);
    --ace-color-red-50: hsl(0, 100%, 50%);
    --ace-color-red-55: hsl(0, 100%, 55%);
    --ace-color-red-60: hsl(0, 100%, 60%);
    --ace-color-red-65: hsl(0, 100%, 65%);
    --ace-color-red-70: hsl(0, 100%, 70%);
    --ace-color-red-75: hsl(0, 100%, 75%);
    --ace-color-red-80: hsl(0, 100%, 80%);
    --ace-color-red-85: hsl(0, 100%, 85%);
    --ace-color-red-90: hsl(0, 100%, 90%);
    --ace-color-red-95: hsl(0, 100%, 95%);

    --ace-color-matred-5: hsl(0, 40%, 5%);
    --ace-color-matred-10: hsl(0, 40%, 10%);
    --ace-color-matred-15: hsl(0, 40%, 15%);
    --ace-color-matred-20: hsl(0, 40%, 20%);
    --ace-color-matred-25: hsl(0, 40%, 25%);
    --ace-color-matred-30: hsl(0, 40%, 30%);
    --ace-color-matred-35: hsl(0, 40%, 35%);
    --ace-color-matred-40: hsl(0, 40%, 40%);
    --ace-color-matred-45: hsl(0, 40%, 45%);
    --ace-color-matred-50: hsl(0, 40%, 50%);
    --ace-color-matred-55: hsl(0, 40%, 55%);
    --ace-color-matred-60: hsl(0, 40%, 60%);
    --ace-color-matred-65: hsl(0, 40%, 65%);
    --ace-color-matred-70: hsl(0, 40%, 70%);
    --ace-color-matred-75: hsl(0, 40%, 75%);
    --ace-color-matred-80: hsl(0, 40%, 80%);
    --ace-color-matred-85: hsl(0, 40%, 85%);
    --ace-color-matred-90: hsl(0, 40%, 90%);
    --ace-color-matred-95: hsl(0, 40%, 95%);

    --ace-font-family-open-sans: "Open Sans", sans-serif;
    --ace-font-family-raleway: "Raleway", sans-serif;
    
    --ace-font-family: var(--ace-font-family-open-sans);
    --ace-font-family-header: var(--ace-font-family-raleway);
    --ace-font-family-code: monospace;

    --ace-font-size: 16px;
    --ace-font-size-s: 13.5px;
    --ace-font-weight-bold: 600;
    --ace-font-weight: 300;

    --ace-cursor-disabled: default;
    
    --ace-color: var(--ace-color-gray-10);
    --ace-color-link: var(--ace-color-blue-35);
    --ace-color-disabled: var(--ace-color-gray-40); 
    --ace-color-active: white;
    --ace-color-placeholder: var(--ace-color-gray-30);

    --ace-color-info: var(--ace-color-matblue-50);
    --ace-color-success: var(--ace-color-matgreen-40);
    --ace-color-warning: var(--ace-color-matorange-50);
    --ace-color-critical: var(--ace-color-matred-50);

    --ace-background-color: transparent;
    --ace-background-color-active: var(--ace-color-blue-60);
    --ace-background-active: linear-gradient(var(--ace-color-blue-60), var(--ace-color-blue-65));
    --ace-background-color-hover: var(--ace-color-gray-98);
    --ace-background-color-disabled: var(--ace-color-gray-97);
    --ace-background-backdrop: rgba(0,0,0,0.5);

    --ace-border: 1px solid var(--ace-border-color);
    --ace-border-color: var(--ace-color-gray-85);
    --ace-border-color-focus: var(--ace-color-blue-65);
    --ace-border-radius-s: 4px;
    --ace-border-radius-m: 8px;

    --ace-box-shadow-focus: 0 0 0 0.25rem fade(var(--ace-color-blue-90), 80%);
    --ace-box-shadow-s: 0px 4px 16px 0px rgba(0,0,0,0.15);
    --ace-box-shadow-m: 0px 4px 16px 0px rgba(0,0,0,0.3);
    --ace-box-shadow-l: 0px 4px 16px 0px rgba(0,0,0,0.6);
    --ace-box-shadow-xl: 0px 10px 40px 0px rgba(0,0,0,0.75);

    --ace-animation-speed: 0.3s;
    --ace-animation-timing: ease;
    --ace-animation-timing-ease: ease; /* in case custom bezier is added later */
    --ace-transition: all 0.3s ease;

    --ace-button-border-radius: var(--ace-border-radius-s); 
    --ace-input-border-radius: var(--ace-border-radius-s);
    --ace-input-padding: 8px;
    --ace-input-height-s: 28px;
    --ace-input-height-m: 40px;
    --ace-input-height-l: 60px;

    --ace-z-index-layout: 1000;
    --ace-z-index-popups: 10000;
    --ace-z-index-alerts: 20000;
}