$color-base-gray:      hsl(0, 0%, 50%);
$color-base-blue:      hsl(204, 100%, 50%);
$color-base-cyan:      hsl(180, 80%, 50%);
$color-base-matblue:   hsl(210, 50%, 50%);
$color-base-green:     hsl(120, 70%, 50%);
$color-base-matgreen:  hsl(120, 35%, 50%);
$color-base-orange:    hsl(39, 100%, 50%);
$color-base-matorange: hsl(25, 70%, 50%);
$color-base-red:       hsl(0, 100%, 50%);
$color-base-matred:    hsl(0, 40%, 50%);
        
$color-gray-5: darken($color-base-gray, 45%);
$color-gray-10: darken($color-base-gray, 40%);
$color-gray-15: darken($color-base-gray, 35%);
$color-gray-20: darken($color-base-gray, 30%);
$color-gray-25: darken($color-base-gray, 25%);
$color-gray-30: darken($color-base-gray, 20%);
$color-gray-35: darken($color-base-gray, 15%);
$color-gray-40: darken($color-base-gray, 10%);
$color-gray-45: darken($color-base-gray, 5%);
$color-gray-50: darken($color-base-gray, 0%);
$color-gray-55: lighten($color-base-gray, 5%);
$color-gray-60: lighten($color-base-gray, 10%);
$color-gray-65: lighten($color-base-gray, 15%);
$color-gray-70: lighten($color-base-gray, 20%);
$color-gray-75: lighten($color-base-gray, 25%);
$color-gray-80: lighten($color-base-gray, 30%);
$color-gray-85: lighten($color-base-gray, 35%);
$color-gray-90: lighten($color-base-gray, 40%);
$color-gray-95: lighten($color-base-gray, 45%);
$color-gray-96: lighten($color-base-gray, 46%);
$color-gray-97: lighten($color-base-gray, 47%);
$color-gray-98: lighten($color-base-gray, 48%);
$color-gray-99: lighten($color-base-gray, 49%);

$color-blue-5: darken($color-base-blue, 45%);
$color-blue-10: darken($color-base-blue, 40%);
$color-blue-15: darken($color-base-blue, 35%);
$color-blue-20: darken($color-base-blue, 30%);
$color-blue-25: darken($color-base-blue, 25%);
$color-blue-30: darken($color-base-blue, 20%);
$color-blue-35: darken($color-base-blue, 15%);
$color-blue-40: darken($color-base-blue, 10%);
$color-blue-45: darken($color-base-blue, 5%);
$color-blue-50: darken($color-base-blue, 0%);
$color-blue-55: lighten($color-base-blue, 5%);
$color-blue-60: lighten($color-base-blue, 10%);
$color-blue-65: lighten($color-base-blue, 15%);
$color-blue-70: lighten($color-base-blue, 20%);
$color-blue-75: lighten($color-base-blue, 25%);
$color-blue-80: lighten($color-base-blue, 30%);
$color-blue-85: lighten($color-base-blue, 35%);
$color-blue-90: lighten($color-base-blue, 40%);
$color-blue-95: lighten($color-base-blue, 45%);
$color-blue-96: lighten($color-base-blue, 46%);
$color-blue-97: lighten($color-base-blue, 47%);
$color-blue-98: lighten($color-base-blue, 48%);
$color-blue-99: lighten($color-base-blue, 49%);

$color-cyan-5: darken($color-base-cyan, 45%);
$color-cyan-10: darken($color-base-cyan, 40%);
$color-cyan-15: darken($color-base-cyan, 35%);
$color-cyan-20: darken($color-base-cyan, 30%);
$color-cyan-25: darken($color-base-cyan, 25%);
$color-cyan-30: darken($color-base-cyan, 20%);
$color-cyan-35: darken($color-base-cyan, 15%);
$color-cyan-40: darken($color-base-cyan, 10%);
$color-cyan-45: darken($color-base-cyan, 5%);
$color-cyan-50: darken($color-base-cyan, 0%);
$color-cyan-55: lighten($color-base-cyan, 5%);
$color-cyan-60: lighten($color-base-cyan, 10%);
$color-cyan-65: lighten($color-base-cyan, 15%);
$color-cyan-70: lighten($color-base-cyan, 20%);
$color-cyan-75: lighten($color-base-cyan, 25%);
$color-cyan-80: lighten($color-base-cyan, 30%);
$color-cyan-85: lighten($color-base-cyan, 35%);
$color-cyan-90: lighten($color-base-cyan, 40%);
$color-cyan-95: lighten($color-base-cyan, 45%);
$color-cyan-96: lighten($color-base-cyan, 46%);
$color-cyan-97: lighten($color-base-cyan, 47%);
$color-cyan-98: lighten($color-base-cyan, 48%);
$color-cyan-99: lighten($color-base-cyan, 49%);

$color-matblue-5: darken($color-base-matblue, 45%);
$color-matblue-10: darken($color-base-matblue, 40%);
$color-matblue-15: darken($color-base-matblue, 35%);
$color-matblue-20: darken($color-base-matblue, 30%);
$color-matblue-25: darken($color-base-matblue, 25%);
$color-matblue-30: darken($color-base-matblue, 20%);
$color-matblue-35: darken($color-base-matblue, 15%);
$color-matblue-40: darken($color-base-matblue, 10%);
$color-matblue-45: darken($color-base-matblue, 5%);
$color-matblue-50: darken($color-base-matblue, 0%);
$color-matblue-55: lighten($color-base-matblue, 5%);
$color-matblue-60: lighten($color-base-matblue, 10%);
$color-matblue-65: lighten($color-base-matblue, 15%);
$color-matblue-70: lighten($color-base-matblue, 20%);
$color-matblue-75: lighten($color-base-matblue, 25%);
$color-matblue-80: lighten($color-base-matblue, 30%);
$color-matblue-85: lighten($color-base-matblue, 35%);
$color-matblue-90: lighten($color-base-matblue, 40%);
$color-matblue-95: lighten($color-base-matblue, 45%);
$color-matblue-96: lighten($color-base-matblue, 46%);
$color-matblue-97: lighten($color-base-matblue, 47%);
$color-matblue-98: lighten($color-base-matblue, 48%);
$color-matblue-99: lighten($color-base-matblue, 49%);

$color-green-5: darken($color-base-green, 45%);
$color-green-10: darken($color-base-green, 40%);
$color-green-15: darken($color-base-green, 35%);
$color-green-20: darken($color-base-green, 30%);
$color-green-25: darken($color-base-green, 25%);
$color-green-30: darken($color-base-green, 20%);
$color-green-35: darken($color-base-green, 15%);
$color-green-40: darken($color-base-green, 10%);
$color-green-45: darken($color-base-green, 5%);
$color-green-50: darken($color-base-green, 0%);
$color-green-55: lighten($color-base-green, 5%);
$color-green-60: lighten($color-base-green, 10%);
$color-green-65: lighten($color-base-green, 15%);
$color-green-70: lighten($color-base-green, 20%);
$color-green-75: lighten($color-base-green, 25%);
$color-green-80: lighten($color-base-green, 30%);
$color-green-85: lighten($color-base-green, 35%);
$color-green-90: lighten($color-base-green, 40%);
$color-green-95: lighten($color-base-green, 45%);
$color-green-96: lighten($color-base-green, 46%);
$color-green-97: lighten($color-base-green, 47%);
$color-green-98: lighten($color-base-green, 48%);
$color-green-99: lighten($color-base-green, 49%);

$color-matgreen-5: darken($color-base-matgreen, 45%);
$color-matgreen-10: darken($color-base-matgreen, 40%);
$color-matgreen-15: darken($color-base-matgreen, 35%);
$color-matgreen-20: darken($color-base-matgreen, 30%);
$color-matgreen-25: darken($color-base-matgreen, 25%);
$color-matgreen-30: darken($color-base-matgreen, 20%);
$color-matgreen-35: darken($color-base-matgreen, 15%);
$color-matgreen-40: darken($color-base-matgreen, 10%);
$color-matgreen-45: darken($color-base-matgreen, 5%);
$color-matgreen-50: darken($color-base-matgreen, 0%);
$color-matgreen-55: lighten($color-base-matgreen, 5%);
$color-matgreen-60: lighten($color-base-matgreen, 10%);
$color-matgreen-65: lighten($color-base-matgreen, 15%);
$color-matgreen-70: lighten($color-base-matgreen, 20%);
$color-matgreen-75: lighten($color-base-matgreen, 25%);
$color-matgreen-80: lighten($color-base-matgreen, 30%);
$color-matgreen-85: lighten($color-base-matgreen, 35%);
$color-matgreen-90: lighten($color-base-matgreen, 40%);
$color-matgreen-95: lighten($color-base-matgreen, 45%);
$color-matgreen-96: lighten($color-base-matgreen, 46%);
$color-matgreen-97: lighten($color-base-matgreen, 47%);
$color-matgreen-98: lighten($color-base-matgreen, 48%);
$color-matgreen-99: lighten($color-base-matgreen, 49%);

$color-orange-5: darken($color-base-orange, 45%);
$color-orange-10: darken($color-base-orange, 40%);
$color-orange-15: darken($color-base-orange, 35%);
$color-orange-20: darken($color-base-orange, 30%);
$color-orange-25: darken($color-base-orange, 25%);
$color-orange-30: darken($color-base-orange, 20%);
$color-orange-35: darken($color-base-orange, 15%);
$color-orange-40: darken($color-base-orange, 10%);
$color-orange-45: darken($color-base-orange, 5%);
$color-orange-50: darken($color-base-orange, 0%);
$color-orange-55: lighten($color-base-orange, 5%);
$color-orange-60: lighten($color-base-orange, 10%);
$color-orange-65: lighten($color-base-orange, 15%);
$color-orange-70: lighten($color-base-orange, 20%);
$color-orange-75: lighten($color-base-orange, 25%);
$color-orange-80: lighten($color-base-orange, 30%);
$color-orange-85: lighten($color-base-orange, 35%);
$color-orange-90: lighten($color-base-orange, 40%);
$color-orange-95: lighten($color-base-orange, 45%);
$color-orange-96: lighten($color-base-orange, 46%);
$color-orange-97: lighten($color-base-orange, 47%);
$color-orange-98: lighten($color-base-orange, 48%);
$color-orange-99: lighten($color-base-orange, 49%);

$color-matorange-5: darken($color-base-matorange, 45%);
$color-matorange-10: darken($color-base-matorange, 40%);
$color-matorange-15: darken($color-base-matorange, 35%);
$color-matorange-20: darken($color-base-matorange, 30%);
$color-matorange-25: darken($color-base-matorange, 25%);
$color-matorange-30: darken($color-base-matorange, 20%);
$color-matorange-35: darken($color-base-matorange, 15%);
$color-matorange-40: darken($color-base-matorange, 10%);
$color-matorange-45: darken($color-base-matorange, 5%);
$color-matorange-50: darken($color-base-matorange, 0%);
$color-matorange-55: lighten($color-base-matorange, 5%);
$color-matorange-60: lighten($color-base-matorange, 10%);
$color-matorange-65: lighten($color-base-matorange, 15%);
$color-matorange-70: lighten($color-base-matorange, 20%);
$color-matorange-75: lighten($color-base-matorange, 25%);
$color-matorange-80: lighten($color-base-matorange, 30%);
$color-matorange-85: lighten($color-base-matorange, 35%);
$color-matorange-90: lighten($color-base-matorange, 40%);
$color-matorange-95: lighten($color-base-matorange, 45%);
$color-matorange-96: lighten($color-base-matorange, 46%);
$color-matorange-97: lighten($color-base-matorange, 47%);
$color-matorange-98: lighten($color-base-matorange, 48%);
$color-matorange-99: lighten($color-base-matorange, 49%);

$color-red-5: darken($color-base-red, 45%);
$color-red-10: darken($color-base-red, 40%);
$color-red-15: darken($color-base-red, 35%);
$color-red-20: darken($color-base-red, 30%);
$color-red-25: darken($color-base-red, 25%);
$color-red-30: darken($color-base-red, 20%);
$color-red-35: darken($color-base-red, 15%);
$color-red-40: darken($color-base-red, 10%);
$color-red-45: darken($color-base-red, 5%);
$color-red-50: darken($color-base-red, 0%);
$color-red-55: lighten($color-base-red, 5%);
$color-red-60: lighten($color-base-red, 10%);
$color-red-65: lighten($color-base-red, 15%);
$color-red-70: lighten($color-base-red, 20%);
$color-red-75: lighten($color-base-red, 25%);
$color-red-80: lighten($color-base-red, 30%);
$color-red-85: lighten($color-base-red, 35%);
$color-red-90: lighten($color-base-red, 40%);
$color-red-95: lighten($color-base-red, 45%);
$color-red-96: lighten($color-base-red, 46%);
$color-red-97: lighten($color-base-red, 47%);
$color-red-98: lighten($color-base-red, 48%);
$color-red-99: lighten($color-base-red, 49%);

$color-matred-5: darken($color-base-matred, 45%);
$color-matred-10: darken($color-base-matred, 40%);
$color-matred-15: darken($color-base-matred, 35%);
$color-matred-20: darken($color-base-matred, 30%);
$color-matred-25: darken($color-base-matred, 25%);
$color-matred-30: darken($color-base-matred, 20%);
$color-matred-35: darken($color-base-matred, 15%);
$color-matred-40: darken($color-base-matred, 10%);
$color-matred-45: darken($color-base-matred, 5%);
$color-matred-50: darken($color-base-matred, 0%);
$color-matred-55: lighten($color-base-matred, 5%);
$color-matred-60: lighten($color-base-matred, 10%);
$color-matred-65: lighten($color-base-matred, 15%);
$color-matred-70: lighten($color-base-matred, 20%);
$color-matred-75: lighten($color-base-matred, 25%);
$color-matred-80: lighten($color-base-matred, 30%);
$color-matred-85: lighten($color-base-matred, 35%);
$color-matred-90: lighten($color-base-matred, 40%);
$color-matred-95: lighten($color-base-matred, 45%);
$color-matred-96: lighten($color-base-matred, 46%);
$color-matred-97: lighten($color-base-matred, 47%);
$color-matred-98: lighten($color-base-matred, 48%);
$color-matred-99: lighten($color-base-matred, 49%);

$font-family-open-sans: 'Open Sans', sans-serif; 
$font-family-raleway: 'Raleway', serif;
$font-family-dancing-script: 'Dancing Script', cursive;

$font-family: $font-family-open-sans;
$font-family-header: $font-family-raleway;
$font-family-code: monospace;

$font-size: 16px;
$font-size-s: 13.5px;
$font-weight-bold: 600;
$font-weight: 300;

$color: $color-gray-10;
$color-link: $color-blue-35;
$color-disabled: $color-gray-60; 
$color-active: white;
$color-placeholder: $color-gray-70;

$color-info: $color-matblue-50;
$color-success: $color-matgreen-40;
$color-warning: $color-matorange-45;
$color-critical: $color-matred-45;

$cursor-disabled: default;

$background-color: transparent;
$background-color-active: $color-blue-60;
$background-active: linear-gradient($color-blue-60, $color-blue-65);
$background-color-hover: $color-gray-98;
$background-color-disabled: $color-gray-97;
$background-backdrop: rgba(0,0,0,0.5);

$background-color-info: lighten($color-info, 10%);
$background-color-success: lighten($color-success, 10%);
$background-color-warning: lighten($color-warning, 10%);
$background-color-critical: lighten($color-critical, 10%);

$border: 1px solid $border-color;
$border-color: $color-gray-85;
$border-color-focus: $color-blue-65;
$border-radius-s: 4px;
$border-radius-m: 8px;

$box-shadow-focus: 0 0 0 0.25rem fade($color-blue-90, 80%);
$box-shadow-s: 0px 4px 16px 0px rgba(0,0,0,0.15);
$box-shadow-m: 0px 4px 16px 0px rgba(0,0,0,0.3);
$box-shadow-l: 0px 4px 16px 0px rgba(0,0,0,0.6);
$box-shadow-xl: 0px 10px 40px 0px rgba(0,0,0,0.75);

$animation-speed: 0.3s;
$animation-timing-ease: ease; //cubic-bezier(0.5,0.02,0.27,1);
$animation-timing: $animation-timing-ease;
$transition: all $animation-speed $animation-timing;

$button-border-radius: $border-radius-s; 
$input-border-radius: $border-radius-s;
$input-padding: 8px;
$input-height-s: 28px;
$input-height-m: 40px;
$input-height-l: 60px;

$z-index-layout: 1000;
$z-index-popups: 10000;
$z-index-alerts: 20000;
$z-index-spinners: 30000;