dialog.ace-modal {
    --ace-modal-background: var(--ace-background-backdrop);
    --ace-modal-animation: ace-animation-slidein-top 0.4s ease-out;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: start center;
    animation: ace-animation-fadein 0.3s ease;
    background: transparent;
    width: 100vw;
    height: 100vh;
    border: 0;

    &::backdrop {
        background: var(--ace-modal-background);
    }
    
    .ace-modal-body {
        display: block;
        box-sizing: border-box;
        background: transparent;
        animation: var(--ace-modal-animation);  
        padding: 1rem;
    }
}