#com-modals {
    position: fixed;
    z-index: var(--ace-z-index-popups);
    pointer-events: none;
    & > * {
        pointer-events: all;
    }
}

.com-modal {
    --ace-position: fixed;
    --ace-placeItems: start center;
    --ace-background: @background-backdrop;
    --ace-animation: com-animation-slidein-top 0.4s ease-out;
    --ace-padding: 10vh 2rem;

    animation: com-animation-fadein 0.3s ease;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    place-items: var(--ace-placeItems);
    width: 100vw;
    height: 100vh;
    overflow-y: auto;

    position: var(--ace-position);
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: var(--ace-z-index-popups);
    background: var(--ace-background);

    .com-modal-body {
        display: block;
        box-sizing: border-box;
        animation: var(--ace-animation);
        padding: var(--ace-padding);
        max-width: 100%;
    }
}