@keyframes ace-image-fadeincolor {
    0% { filter: grayscale(100%); opacity: 0; } 
    70% { filter: grayscale(100%); opacity: 1; }
    100% { filter: grayscale(0%); }
}
.ace-image {
    display: block;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: 0 auto;

    &.loaded[enter-effect=fadein] {
        animation: ace-animation-fadein 1s ease;
    }
    &.loaded[enter-effect=fadeincolor] {
        animation: ace-image-fadeincolor 1.5s ease;
    }
}