.ace-error {
    animation: ace-animation-fadein 0.3s ease;
    text-align: center;
    margin: 2rem auto;
    padding: 2rem;
    max-width: 600px;

    h1 {
        font-size: 8rem;
        font-weight: 100;
        color: var(--ace-color-gray-60);
        margin: 0 auto 2rem auto;
    }
    h2 {
        font-size: 2.5rem;
        margin: 0 auto 2rem auto;
    }
    p {
        margin: 0 auto 3rem auto;
        max-width: 400px;
    }
}