.ace-accordion {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    border: 0;
}

.ace-accordion-item {
    display: block;
    box-sizing: border-box;
    border: var(--ace-border);
    transition: all 0.5s ease-out;
    
    & + & {
        margin-top: -1px;
    }
    &[open=true] {
        &:not(:first-of-type) {
            margin-top: 20px;
        }
        &:not(:last-of-type) {
            margin-bottom: 20px;
        }
        & > .ace-accordion-item-header {
            [chevron] {
                transform: rotateZ(90deg); 
            }
        }
    }
}

.ace-accordion-item-header {
    display: flex;
    align-items: center;
    padding: 0.8rem 1rem;            
    user-select: none;
    cursor: pointer;

    [chevron] {
        flex-shrink: 0;
        margin-right: 1rem;
        transition: transform 0.3s ease;
    }
    &:hover {
        background: var(--ace-color-gray-98);
    }
}

.ace-accordion-item-body {
    display: none;
    overflow: auto;
    padding: 1rem;
}