.ace-inputgroup {
    display: inline-flex;
    align-items: stretch;
    vertical-align: middle;

    & > * {
        margin-left: -1px;
        z-index: 1;
        
        &:focus, 
        &:focus-within {
            z-index: 2;
        }
        &:hover {
            z-index: 3;
        }
        &:not(:first-child) {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            input {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }
}